# Data directories
#################
all_decorators/*
decorators/*
saved_sims/*
Recorded\ Simulations/
v*/

# STEM default directories
#################
experiments/*
loggers/*
modifiers/*
predicates/*
triggers/*

# Git files
################
.DS_Store
.project
.version
